.mt-range-content {
  margin-right: 20px;
}
.mt-range-thumb {
  background-color: #fff;
  width: 20px;
  height: 20px;
  top: 5px;
}
.mt-range-progress {
  background-color: #03D4EE;
}
.mt-range-runway {
  border-top-color: #F1EDAD;
  right: 0px;
}
.mint-swipe-items-wrap {
  overflow: visible;
}
.mt-range {
  width: 90%;
  padding-left: 20px;
}
.swiper-slide ul {
  margin-bottom: 40px;
}
.score-tips {
  background-color: #fff;
  color: #f00;
}
.mint-indicator-wrapper {
  z-index: 30;
}
.mint-indicator-mask {
  background-color: #fff;
  opacity: .5;
  z-index: 20;
}
